# Plugins for parsing different sites
# to import data from
[sites]
# sites plugins have an interface defined
# by iplugin.SitePlugin. Each plugin listed
# must expose a variable called plugin that
# implements the SitePlugin interface.

# plugins with one item must end with a , so the
# config reader understands it is a list.
# Multiple site plugins do not need a trailing ,.
#
# ex:
# plugins = texas,
# plugins = texas, washington
plugins =

# Plugins may require configuration options
# The name of the subsection is given by
# plugin.settings_name
#
# Note the double brackets: [[settings_name]]
# and placement within the config. The
# [[double brackets]] define a subsection.
#
# ex:
# [[Texas]]
# username = wat
# password = now

# Enable a plugin for imputing data from Sites
# into a database.
[database]
# databases plugins have an interface defined
# by iplugin.DatabasePlugin. Only one plugin
# may be listed at a time and it must expose
# a variable called plugin that implements
# the DatabasePlugin interface.
#
# ex: plugin = mysql
plugin =

# Plugins may require configuration options
# The name of the subsection is given by
# plugin.settings_name
#
# Note the double brackets: [[settings_name]]
# and placement within the config. The
# [[double brackets]] define a subsection.
#
# ex:
# [[MySQL]]
# username = wat
# password = now
# database = things
